.container {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 8vh;
}

.yellow {
  background-color: yellow;
  flex-grow: 2;
  position: relative;
  top: 0;
  height: 50vh;;

}

.purple {
  position: absolute;
  left: 40vw;
  background-color: purple;
  position: center;
  width: 20vh;
  height: 20vh;
  z-index: 1;

}

