* {
  margin : 0;
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: rgb(226, 226, 226);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color:white;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width : 100px;
  height: 800px;
}

.right {
  transform: scaleX(-1);
}

.imgbig {
  display: flex;
  flex-direction: column;
  position: relative;
}


.box {
  display: flex;
  box-shadow: 10px 10px 30px  rgba(220,220,220,0.9);
}

.descriptionbox {
  position: absolute;
  top: 628px;
  width: 1400px;
  background-color: rgba(0,0,0,0.6);
  color : white;
  padding : 50px 100px;

}

.slider {
  margin-top: 50px;
}

a {
  text-decoration: none;
}

.thumbnail {
  box-shadow: 10px 10px 30px  rgba(220,220,220,0.9);
  border: 5px solid white;
  border-radius: 10px;
  margin: 20px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}
