@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 135, 135, 0.151);
  font-family: 'Open Sans', sans-serif;
}

.questions,
.createquestion {
  box-shadow: 5px 5px 10px rgba(63, 63, 63, 0.205);
  padding: 100px;
  width: 42vw;
}

.createquestion > * {
  margin: 20px;
}

input[type='text']{
  width: 35vw;
  height: 15px;
  background: none;
  border : 1px solid grey;
  margin: 5px;
  font-size: 15px;
  padding: 10px;
}

.ownquestion {
  margin: 40px;
  position: relative;
  left: 40px;
}

.submitbutton {
  border : none;
  margin-left: 40%;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  background-color: #3498DB;
  color: white;
}

p {
  font-size: 20px;
}

.questions > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.383);
}

.questions > * > button {
  border : none;
  background : none;
  color : rgb(212, 36, 65);
}

.questions > * > button:focus {
  outline: none;
}

.questions > div:last-child {
  border-bottom: none;
}
