@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  height: 100vh;
  background-color: rgba(145, 135, 135, 0.151);
  font-family: 'Open Sans', sans-serif;
}

body,
.quiz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quiz {
  box-shadow: 5px 5px 10px rgba(63, 63, 63, 0.205);
  padding: 100px;
} 

button {
  width: 400px;
  height: 50px;
  margin : 10px;
  border: none;
}

.blue {
  background-color: #3498DB;
}

.red {
  background-color: rgb(212, 36, 65);
}

.green {
  background-color: rgb(32, 109, 8);

}

p {
  margin-bottom: 60px;
}

a {
  margin : 30px;
}